<div class="jumbotron">
  <% if session[:username] && session[:dialect] %>
  	<h1>Welcome to our Instant Messaging App!</h1>
  	<p class="lead">Please sign in to start messaging</p>
  	<%= render 'sign_in' %>
  <% end %>
</div>